#Home {
    position: relative;
    //background: url('../../assets/animated_grad_bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;

    .app__wrapper {
      padding: 0;
      .copyright {
        display: none;
    }
  }
}

.app__header-description /* p */ {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: flex-start;
    user-select: none;
    line-height: 70px;

    &-text1 {
      font-size: 2.2rem;
      color: var(--lightblue-color);
    }
    &-text2 {
      font-size: 2.2rem;
      color: var(--lightblue-color);
    }
    &-text3 {
      font-size: 2.2rem;
      color: var(--lightblue-color);
    }
}
  
.app__header {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;
  
    /* padding: 6rem 2rem 0rem; */

    @media screen and (min-width: 2000px) {
      padding-top: 8rem;
    }

    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }

    @media screen and (max-width: 450px) {
      padding: 6rem 1rem 2rem;
    }
}

.app__header-info {
    flex: 0.50;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    margin-top: 500px;
    z-index: 5;

    @media screen and (max-width: 1200px) {
        width: 100%;
        margin-right: 0rem;
    }
}

.app__header-head-text {
  margin-bottom: 90px;
  font-size: 4rem;
  font-weight: 600;
  text-align: left;
  color: var(--lightblue-color);
  text-transform: capitalize;
  user-select: none;

  @media screen and (min-width: 2000px) {
    font-size: 50px;
  }
  
  @media screen and (max-width: 450px) {
  font-size: 1.5rem;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app__header-orb {
  -webkit-animation: spin 3s linear infinite;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  margin: auto;
  margin-top: 200px;
  border-radius: 50%;
  box-shadow: inset 0 0 60px #ffffff38,
              inset 20px 0 60px #FF00CC,
              inset -20px 0 60px #12C2E9,
              inset 20px 0 300px #FF00CC,
              inset -20px 0 300px #12C2E9,
              0 0 15px #ffffffbb,
              -10px 0 80px #FF00CC,
              10px 0 80px #12C2E9;
}

.app__header-orb:hover {
  -webkit-animation: spin 3s linear infinite;
  box-shadow: inset 0 0 60px #ffffff38,
              inset 20px 0 60px #FF00CC,
              inset -20px 0 60px #12C2E9,
              inset 20px 0 300px #FF00CC,
              inset -20px 0 300px #12C2E9,
              0 0 40px #ffffff88,
              -10px 0 100px #FF00CC,
              10px 0 100px #12C2E9;
}
