.app__testimonials {
  height: 100vh;
  position: relative;
  width: 100%;
  user-select: none;
}

.app__testimonials-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.app__testimonials-title{
  max-width: 530px;
  margin-left: 20px;
  
  &-title {
    margin-bottom: 24px; 
    font-size: 3rem;
    color: var(--lightblue-color);
    font-family: var(--font-secondary);
      
    @media screen and (max-width: 450px) {
      font-size: 2rem;
      margin-bottom: 16px;
    }
  }
      
  &-info {
    font-size: 1.25rem;
    color: #ffffff;
    font-family: var(--font-primary);
    line-height: 2rem;
  
    @media screen and (max-width: 450px) {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
    
  @media screen and (max-width: 450px) {
    margin-top: 0px;
    margin-left: 0px;
  }
}

.app__Work-blink {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  font-family: var(--font-primary);  
  user-select: none;
  visibility: hidden;
  animation: blink .85s infinite;
  animation-delay: 2s;

  @media screen and (max-width: 450px) {
    font-size: 1rem;
  }
}

.app__testimonials-info-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.app__testimonials-box{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app__testimonials-item {
    justify-content: space-between;
    width: 1000px;
    height: 450px;
    min-height: 490px;
    backdrop-filter: blur(26px);
    -webkit-backdrop-filter: blur(26px);
    background-color: #1616167c;
    display: flex;
    flex-direction: row;
    padding: 56px;
    border-radius: 20px;
    border: 2px solid var(--lightblue-color);
    
    /* &:hover {
      box-shadow: 0 0 20px #12c2e9c0;
      transition: all 0.5s ease-in-out;
    } */
    img {
      margin-right: 56px;
      width: 180px;
      height: 180px;
      border-radius: 10px;
      object-fit: cover;
    }
  
    @media screen and (min-width: 2000px) {
      min-height: 510px;
  
      img {
        width: 170px;
        height: 170px;
      }
    }
  /*
    @media screen and (max-width: 850px) {
      width: 100%;
    }
  */
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
}
  
.app__testimonials-content {
    flex: 1;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  
    .app__testimonials-content-text {
      text-align: left;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2rem;
      color: #ffffff;
      font-family: var(--font-base);
  
      @media screen and (min-width: 2000px) {
        font-size: 1.6rem;
        line-height: 2.2rem;
      }
    }
  
    .app__testimonials-content-name {
      font-size: 2rem;
      font-weight: 500;
      text-align: left;
      color: var(--lightblue-color);
      margin-top: 2.5rem;
      
      @media screen and (min-width: 2000px) {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
  
    .app__testimonials-content-job {
      font-size: 1.3rem;
      font-weight: 500;
      text-align: left;
      color: #d9d9d9;
      margin-top: 15px;

      @media screen and (min-width: 2000px) {
        font-size: 1.5rem;
        line-height: 1rem;
      }
    }
  
    @media screen and (max-width: 600px) {
      margin-top: 2rem;
      padding: 0;
    }
}
  
.app__testimonials-btn-left,
.app__testimonials-btn-right {
    /* flex-direction: row;
    margin-top: 1rem; */
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #1616167c;
  border: 2px solid var(--lightblue-color);
  margin: 1.5rem;
  cursor: pointer;

  svg {
    width: 37px;
    height: 37px;
    color: var(--lightblue-color);
  }
  
  &:hover {
    background-color: var(--lightblue-color);
    transition: all 0.2s ease-in-out;
  
    svg {
      color: var(--white-color);
      }
  }
  
  @media screen and (min-width: 2000px) {
    width: 70px;
    height: 70px;
  
    svg {
      width: 45px;
      height: 45px;
    }
  }
}

.app__testimonials-dots {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.app__testimonials-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--lightblue-color);
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.app__testimonials-dot.active {
  background-color: var(--white-color);
}
