.app__navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: #0101010e;
    height:80px;
    justify-content: space-between;
}

.app__navbar-logo {
    font-weight: 700;
    font-size: 1.3rem;

    a {
        text-decoration: none;
        display: flex;
        max-width: fit-content;
    }

    &-blue{
        color: var(--lightblue-color);
    }

    &-pink{
        color: var(--pink-color);
        margin-left: 5px;
    }

        /* @media screen and (min-width: 350px) {
            font-weight: 700;
            font-size: 1rem;
        } */
}

.app__navbar-links {
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
    list-style: none;
    

    li {
        margin: 0 2.5rem;
        cursor: pointer;
        flex-direction: column;

        a {
            color: var(--darkgreen-color);
            text-decoration: none;
            flex-direction: column;
            font-size: 1.1rem;
            font-weight: 500;
            transition: all 0.5s ease-in-out;

            &:hover {
                color: var(--white-color);
            }

        }
        a.active {
            color:var(--pink-color);
            font-weight: 500;
          }
    }

    @media screen and (max-width: 1000px) {
        display: none;
    }
}

.app__navbar-menu {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    

    svg {
        width: 80%;
        height: 80%;
        color: var(--darkgreen-color);
        
        &:hover {
            color: var(--pink-color); 
        }
    }

    div {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;
        padding: 1rem;
        width: 50%;
        height: 45vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column;
        //background: url('../../assets/animated_grad_bg.svg');
        background-color: rgba(0, 0, 0, 0.95);
        border-radius: 7px;
        box-shadow: 0 0 20px rgba(37,37,37,0.15);

        svg {
            width: 13%;
            height: 13%;
            color: var(--lightblue-color);
            margin: 0.5rem 1rem;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;

            li {
                margin: 1rem;

                a {
                    color: var(--lightblue-color);
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 600;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: var(--pink-color); 
                    }
                }
            }
        }
        @media  screen and (min-width: 1000px) {
            display: none;
        }
    }
    @media  screen and (min-width: 1000px) {
        display: none;
    }
}
