.app__Contact{
  position: relative;
  user-select: none;
  width: 100%;
}

.app__contact-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.app__contact-title{
  max-width: 420px;
  margin-top: 40px;
  
  &-title {
    margin-bottom: 8px; 
    font-size: 2rem;
    color: var(--lightblue-color);
    font-family: var(--font-primary);
    
    @media screen and (max-width: 900px) {
      margin-left: 1rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 2rem;
      margin-bottom: 8px;
    }
  }
    
  &-info {
    font-size: 1.1rem;
    font-weight: 400;
    color: #ffffff;
    font-family: var(--font-primary);
    line-height: 1.6rem;

    @media screen and (max-width: 900px) {
      margin-left: 1rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 450px) {
    margin-top: 0px;
    margin-left: 0px;
  }
}


.app__contact-blink {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  font-family: var(--font-primary);  
  user-select: none;
  visibility: hidden;
  animation: blink .85s infinite;
  animation-delay: 2s;

  @media screen and (max-width: 450px) {
    font-size: 1rem;
  }
}

.app__contact-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;

    /* &-img img {
      width: 500px;
      
      /* @media screen and (max-width: 450px) {
        width: 380px;
      } 
      @media screen and (max-width: 650px) {
        display: none;
      }
    }*/ 
    
    &-form form {
        display: flex;
        flex-direction: column;
    }

    &-form label {
        color:#ffffff;
        font-size: 1rem;
        margin-bottom: 10px;

        @media screen and (max-width: 450px) {
          font-size: 1rem;
        }
    }

    &-form input, textarea {
        color: #ffffff;
        font-size: 1rem;
        width: 500px;
        height: 56px;
        padding: 10px;
        border: 2px solid var(--lightblue-color);
        background-color: #16161600;
        border-radius: 4px;
        margin-bottom: 20px;
        border-radius: 15px;

        @media screen and (max-width: 450px) {
          width: 350px;
        }
    }

    &-form textarea {
      height: 144px;
      font-size: 1rem;
  }

    &-form button {
      font-size: 1rem;
      font-weight: 600;
      padding: 10px 20px;
      height: 48px;
      background-color: var(--lightblue-color);
      color: #000000;
      border: none;
      border-radius: 15px;
      cursor: pointer;
    }

    &-form button:hover {
      color: #fff;
      box-shadow: 0 0 10px var(--lightblue-color);
      transition: all 0.5s ease-in-out;
    }

    @media screen and (max-width: 450px) {
      flex-direction: column-reverse;
      padding: 10px;
    }
}

.app__contact-desc-container-icons a svg {
  margin-right: 20px;
  margin-top: 40px;
  color: var(--lightblue-color);
  height: 24px;
  width: 24px;

  &:hover {
    color: var(--white-color);
    transition: all 0.3s ease-in-out;

    svg {
      color: var(--lightblue-color);
    }
  }
  
  @media screen and (max-width: 450px) {
    margin-top: 30px;
    margin-left: 0px;
  }
}
