.app__Contact{
  height: 100vh;
  position: relative;
  user-select: none;
  width: 100%;
  /* overflow: hidden; */
}

.app__contact-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.app__contact-title{
  max-width: 420px;
  margin-left: 20px;
  margin-top: 50px;;
  
    &-title {
      font-size: 18px; 
      margin-bottom: 24px; 
      font-size: 3rem;
      color: var(--lightblue-color);
      font-family: var(--font-secondary);
    }
  
    &-info {
      font-size: 1.25rem;
      color: #ffffff;
      font-family: var(--font-primary); 
      margin-bottom: 20px;
      line-height: 2rem;
    }
}

.app__contact-blink {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  font-family: var(--font-primary);  
  user-select: none;
  visibility: hidden;
  animation: blink .85s infinite;
  animation-delay: 2s;

  @media screen and (max-width: 450px) {
    font-size: 1rem;
  }
}

.app__contact-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;

    &-img img {
      width: 500px;
    }

    &-form form {
        display: flex;
        flex-direction: column;
    }

    &-form label {
        color:#ffffff;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    &-form input, textarea {
        color: #ffffff;
        font-size: 1rem;
        width: 500px;
        height: 48px;
        padding: 10px;
        border: 2px solid var(--lightblue-color);
        background-color: #16161600;
        border-radius: 4px;
        margin-bottom: 20px;
        border-radius: 20px;
    }

    &-form textarea {
      height: 144px;
      font-size: 1rem;

  }

    &-form button {
      font-size: 1rem;
      font-weight: 600;
      padding: 10px 20px;
      height: 48px;
      background-color: var(--lightblue-color);
      color: #000000;
      border: none;
      border-radius: 20px;
      cursor: pointer;
    }

    &-form button:hover {
      color: #fff;
      box-shadow: 0 0 15px var(--lightblue-color);
      transition: all 0.5s ease-in-out;
    }
}

.app__contact-desc-container-icons a svg {
  margin-right: 20px;
  margin-top: 40px;
  color: var(--lightblue-color);
  height: 24px;
  width: 24px;

  &:hover {
    color: var(--white-color);
    transition: all 0.3s ease-in-out;

    svg {
      color: var(--lightblue-color);
    }
  }
  
  @media screen and (max-width: 450px) {
    height: 16px;
    width: 16px;
    margin-top: 15px;
    margin-left: 0px;
  }
}
