/* .app__About {

    .container {
        width: 100%;
        margin-top: 5rem;
      
        display: flex;
        flex-direction: row;
      
        @media screen and (max-width: 900px) {
          width: 80%;
          flex-direction: column;
        }
    }


    /* &-title{
        font-size: 2rem;

    } 
} */

/* .app__About-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 0;
    

    img {
      width: 60%;
      object-fit: contain;
      z-index: 1;
      margin-bottom: 0;
      
    }
}

.app__About-info{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    max-width: 535px;
    flex-direction: row;
    
    

    &-title{
      font-size: 1rem;
      font-weight: 800;
      color: var(--lightblue-color);
      text-align: center;
    }

    &-info{
      color: var(--lightblue-color);
    }
} */

.app__About {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.app__About-info {
  display: flex;
  align-items: center;
  
}
/* .app__About-img {
  flex: 0 0 auto;
  margin-right: 5px; 
}
 */
.app__About-img img {
  max-width: 50%;
  height: auto;
  margin-left: 150px;
}

.app__About-title{
  flex-direction: column;
  max-width: 420px;
  margin-top: -300px;
  margin-left: -100px;

  &-title {
    font-size: 18px; 
    margin-bottom: 24px; 
    font-size: 3rem;
    color: var(--lightblue-color);
    font-family: var(--font-secondary);
  }

  &-info {
    font-size: 1.25rem;
    color: #ffffff;
    font-family: var(--font-primary); 
    margin-bottom: 20px;
    line-height: 2rem;
  }
}

.app__About-desc {
  align-items: center;
  line-height: 2rem;
  padding: 30px;
  margin-top: 10px;
  font-size: 1.25rem;
  color: #ffffff;
  margin-right: 100px;
  font-family: var(--font-primary);
}