.app__About {

    .container {
        width: 75%;
        margin-top: 5rem;
      
        display: flex;
        flex-direction: row;
      
        @media screen and (max-width: 900px) {
          width: 80%;
          flex-direction: column;
        }
    }


    &-title{
        font-size: 2rem;

    }
}

.app__About-img {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    

    img {
      width: 70%;
      object-fit: contain;
      z-index: 1;
      margin-bottom: 0;
      
    }
    @media screen and (max-width: 1200px) {
      margin: 0;
    }
}