.app__About {
  /* overflow: hidden; */
  position: relative;
  width: 100%;
  user-select: none;
}

.app__About-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 2;
    justify-content: center;

}

 
.app__About-title{
  max-width: 500px;
  margin-top: 100px;
   
  &-title {
    margin-bottom: 8px; 
    font-size: 2rem;
    color: var(--lightblue-color);
    font-family: var(--font-primary);
    
    @media screen and (max-width: 900px) {
      margin-left: 1rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 2rem;
      margin-bottom: 8px;
    }
  }
    
  &-info {
    font-size: 1.1rem;
    font-weight: 400;
    color: #ffffff;
    font-family: var(--font-primary);
    line-height: 1.6rem;

    @media screen and (max-width: 900px) {
      margin-left: 1rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 450px) {
    margin-top: 0px;
    margin-left: 0px;
  }
}

.app__About-blink {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  font-family: var(--font-primary);  
  user-select: none;
  visibility: hidden;
  animation: blink .85s infinite;
  animation-delay: 2s;

  @media screen and (max-width: 450px) {
    font-size: 1rem;
  }
}

.app__About-desc {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

/*  .app__About-desc-container {
  justify-content: space-between;
}  */

.app__About-desc-container-text {
  max-width: 550px;
  align-items: center;
  line-height: 2.3rem;
  font-size: 1.4rem;
  color: #ffffff;
  font-family: var(--font-primary);
  
  @media screen and (max-width: 900px) {
    max-width: 700px;
    padding: 1rem;
  }

  @media screen and (max-width: 450px) {
    line-height: 1.8rem;
    font-size: 1.1rem;
  }
}

/* .app__About-desc-container-icons a svg {
  margin: 0 0.6rem;
  margin-top: 30px;
  color: var(--lightblue-color);
  height: 35px;
  width: 35px;

  &:hover {
    color: var(--white-color);
    transition: all 0.3s ease-in-out;

    svg {
      color: var(--lightblue-color);
    }
  }

  @media screen and (max-width: 900px) {
    margin-left: 1rem;
  }
  
  @media screen and (max-width: 450px) {
    height: 24px;
    width: 24px;
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 1rem;
  }
} */

.app__About-desc-img img {
  display: flex;
  max-width: 550px;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 900px) {
    margin-bottom: 20px
  }
  
  @media screen and (max-width: 450px) {
    justify-content: center;
    max-width: 350px;
  }
}