.app__Work {
  height: 100vh;
  position: relative;  
  width: 100%;
  user-select: none;
}

.app__Work-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.app__Work-title {
  max-width: 420px;
  margin-left: 20px;
  margin-top: 30px;
  
  &-title {
    margin-bottom: 24px; 
    font-size: 3rem;
    color: var(--lightblue-color);
    font-family: var(--font-secondary);
      
    @media screen and (max-width: 450px) {
      font-size: 2rem;
      margin-bottom: 16px;
    }
  }
      
  &-info {
    font-size: 1.25rem;
    color: #ffffff;
    font-family: var(--font-primary);
    line-height: 2rem;
  
    @media screen and (max-width: 450px) {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
    
  @media screen and (max-width: 450px) {
    margin-top: 0px;
    margin-left: 0px;
  }
}


.app__Work-blink {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  font-family: var(--font-primary);  
  user-select: none;
  visibility: hidden;
  animation: blink .85s infinite;
  animation-delay: 2s;

  @media screen and (max-width: 450px) {
    font-size: 1rem;
  }
}

.app__Work-cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
  
.app__Work-card1,
.app__Work-card2,
.app__Work-card3,
.app__Work-card4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--lightblue-color);
  backdrop-filter: blur(26px);
  -webkit-backdrop-filter: blur(26px);
  background-color: #1616167c;
  width: 650px;
  height: 300px;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  box-sizing: border-box;
    

  @media screen and (max-width: 450px) {
    width: 350px;
    height: 250px;
  }

  &:hover {
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 10px var(--lightblue-color);

    @media screen and (max-width: 450px) {
      transition: all 0.5s ease-in-out;
      box-shadow: 0 0 10px var(--lightblue-color);
    }
  }
}

.andrematoscreative-logo {
  height: 80px;
  width: 80px;

}

.app__Work-cards-container h1 {
  animation: pulse 3s infinite;
  font-size: 1.5rem;
  color: var(--lightblue-color);
}

@keyframes pulse {
  0% {
    opacity: 0.05;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.05;
  }
}
