@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

:root {
    --font-base: "Maven pro", sans-serif;
    --primary-color: #0D0C0C /* #fff */;
    --secondary-color: #198CBE;
    --black-color: #030303;
    --lightGray-color: #e4e4e4;
    --lightblue-color: #12C2E9;
    --darkgreen-color: #198CBE;
    --white-color: #D1D1D1;
    --pink-color: #CC0FC6;
    --gradient: linear-gradient(150deg, #12C2E9, #FF00CC);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    /*background-color: #252525;*/
}